
<div class="row">
    <h3>Software Download Session</h3>
  <p> August 4, 2020 1:00pm-2:00pm Zoom TBD </p>
  </div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://librarycarpentry.org/lc-overview/03-jargon-busting/index.html">Jargon Busting</a></td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:10</td>  <td><a href = "https://librarycarpentry.org/lc-spreadsheets/">Tidy Data</a></td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td>Tidy Data cont.</td> </tr>    
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td></tr>
      <tr> <td>12:00</td>  <td>End</td> </tr>    
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>9:00</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The Unix Shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-git/">Introduction to Git</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:30</td>  <td>Wrap up</td> </tr>
      <tr> <td>12:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
